.logo {
  padding: 80px 0;
  background: url(../img/logo.png) no-repeat center;
  cursor: pointer; }
  .logo:hover {
    background: url(../img/logohover.png) no-repeat center; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  background: #e4e4e4;
  margin: 0 5px;
  text-transform: uppercase;
  color: #171925;
  padding: 170px 0;
  text-align: center; }
  .nav__item:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #b83406;
    color: #e4e4e4; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.facecircle {
  height: 170px;
  width: 170px;
  margin: 20px auto;
  border-radius: 1000px;
  background: url(../img/facecircle.jpg) no-repeat center #171925;
  background-size: cover; }

.aboutme {
  background: #e4e4e4;
  padding: 20px 20px 50px 20px; }
  .aboutme__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .aboutme__left {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5; }
  .aboutme__right {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5; }

.aboutme__item__left {
  text-align: right;
  padding: 0 10px 0 0;
  border-right: 2px dotted #c0c0c0; }

.aboutme__item__right {
  text-align: left;
  padding: 0 0 0 10px; }

.aboutme__item h3 {
  color: #b83406;
  margin: -5px 0 0 0;
  font: normal 20px/1.5 'Open Sans', sans-serif; }

.aboutme__item p {
  margin: 0; }

.aboutme__item__icon {
  position: relative;
  padding-left: 20px; }
  .aboutme__item__icon:nth-child(1)::before {
    background: url(../img/mail-ic.png) no-repeat center; }
  .aboutme__item__icon:nth-child(2)::before {
    background: url(../img/mail-ic.png) no-repeat center; }
  .aboutme__item__icon:nth-child(3)::before {
    background: url(../img/mail-ic.png) no-repeat center; }

.works {
  height: 800px;
  width: 100%;
  background: #748939; }

.content {
  background: #847562;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sidebar {
  height: 500px;
  width: 250px; }

.footer {
  height: 200px;
  width: 100%;
  background: #846372; }

body {
  background: #171925;
  font: normal 15px/1  'Oswald', sans-serif; }

span {
  font: normal 12px/1 'Open Sans', sans-serif; }

.sw-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.sw-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .sw-item > .left {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5; }
  .sw-item > .right {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5; }
  .sw-item > .line {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }
    .sw-item > .line h3 {
      font-size: 25px; }
