$place-module-size: 150px
.place
    flex: 1
    &__name
        padding: 20px
        font-size: 1.3em
        color: $mainclr
        margin-bottom: 10px
        min-width: 100%
        background-position: left
        background-size: cover
        background-repeat: no-repeat
    &__sidebar
        flex: 1
        max-width: #{$place-module-size * 2}
        margin-left: 20px
        display: flex
        flex-wrap: wrap
        height: max-content
    &__module
        width: 50%
        height: $place-module-size
        padding: 5px
        &_item
            background: #f1a6f3
            height: 100%
            padding: 5px
            border-radius: 3px