{% load static %}
<!doctype html>
<html lang="en">
<head>
</head>
<title>sowa</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#17181a"/>
<meta name="Description" content="Author: Alex Sowa, This site for my app">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&display=swap" rel="stylesheet">

<!--<style>критический css</style>-->

<link rel="stylesheet" type="text/css" href="{% static 'bundle/critical.9c96415189119e6ca126.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bundle/main.9c96415189119e6ca126.css' %}">

<body>
	<header class="header">
		<div class="header__top">
			<div class="logo">SOWA</div>
			<div class="header__line"></div>
			<ul class="menu">
				<li class="menu__item btn__info"><a href="/">info</a></li>
				<li class="menu__item"><a href="/">my app</a></li>
				<li class="menu__item"><a href="/pages/myworks.html">my works</a></li>
			</ul>
		</div>
		<div id="info" class="info">
			<div class="info__avatar"></div>
			<div class="info__txt">
				<h2 class="info__title">Surname Name</h2>
				<div class="info__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores perferendis libero voluptatibus dignissimos eligendi, perspiciatis odit placeat illo eaque numquam neque inventore, sunt tenetur quis laborum minima hic id iure animi doloribus? Distinctio, incidunt, quidem voluptas eveniet ab laboriosam soluta doloremque laborum iusto accusamus suscipit dicta natus recusandae magnam veniam, eum deleniti ad. Non excepturi temporibus laboriosam eius! Eaque, ab quos. Voluptatem consequatur vero aliquid laborum alias labore, ad eos libero quibusdam quos dolor veniam soluta dignissimos ratione fugiat. Delectus sunt maxime veritatis labore doloribus. Ut esse commodi enim reprehenderit magnam saepe doloremque vel in, nemo totam aliquam labore voluptates?</div>
				<button class="btn info__btn">contacts</button>
			</div>
		</div>
	</header>
	<main class="main">
		<div class="module">
			<div class="datapicker datepicker-here" ></div>
		</div>
	</main>
	<div id="root"></div>
	<script type="text/javascript" src="{% static 'bundle/main.9c96415189119e6ca126.js' %}"></script>
</body>
</html>