/node_modules/
/.idea
venv/
requirements.txt
manage.py
.idea/*
.idea
.git/*
.babelrc
package-lock.json
package.json
postcss.config.js
webpack.config.js
db.sqlite3
.vscode/
*.pyc
*~
.browserlistrc
appsowa/
db.sqlite3