<ul class="menu">
	<li class="menu__item"><a href="/">main</a></li>
	<li class="menu__item btn__info">info</li>
	<li class="menu__item">
		<a href="/country">country</a>
		<ul class="submenu">
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
			<li class="submenu__item"><a href="/country/england">England</a></li>
		</ul>
	</li>
</ul>