<!doctype html>
<html lang="en">
<head>
</head>
<title>sowa</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#17181a"/>
<meta name="Description" content="Author: Alex Sowa, This site for my app">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&display=swap" rel="stylesheet">

<!--<style>критический css</style>-->

<link rel="stylesheet" href="/bundle/critical.6904447718007dd23517.css">
<link rel="stylesheet" href="/bundle/main.6904447718007dd23517.css">

<body>
	<header class="header">
		<div class="logo">MY APP SOWA</div>
		<div class="header__line"></div>
		<ul class="menu">
			<li class="menu__item"><a href="#">главная</a></li>
			<li class="menu__item"><a href="#">мои работы</a></li>
			<li class="menu__item"><a href="#">обо мне</a></li>
		</ul>
	</header>
	<div id="root"></div>
	<script type="text/javascript" src="/bundle/main.6904447718007dd23517.js"></script>
</body>
</html>