.board
    padding: 50px 0 0 0
    
    &__sidebar
        @include mobile
            flex-wrap: wrap
        @include notdesctop
            display: flex
            padding: 0 10px

        @include desctop
            flex: 1 0 $sidebar-desctop-width
            max-width: $sidebar-desctop-width
            padding: 0 16px

        &-item
            &:not(:last-child)
                margin: 0 0 20px 0
    
    &__title
        // position: absolute
        // top: 10px
        // left: $sidebar-desctop-width + 20px
        text-transform: uppercase
        font-weight: 700
        z-index: 999
        height: 40px
        display: flex
        align-items: center
        margin: 0 0 16px 0
        padding: 0 20px
        background-image: repeating-radial-gradient(circle at center, var(--sub-add-color), var(--sub-add-color) 1px, transparent 1px, transparent 100%)
        background-size: 6px 6px
        
    &__inner
        position: relative
    
    &__content
        display: flex
        @include notdesctop
            flex-direction: column

    &__box
        flex: 1

    &__item
        width: 100%
        position: relative

        &:not(:first-child)
            margin: 0 0 0 16px
        
        &-content
            position: relative
            flex: 1
            display: flex
            flex-direction: column
            border: 2px solid var(--base-color)
            min-height: $module-height
            max-height: $module-height
            transition: all .3s ease-in-out
            background: transparentize($base-color, .95)
        
        &-title
            font-size: .9rem
            color: var(--font-color)
            font-weight: 400
            text-align: center
            margin: 0 0 20px 0
            @include desctop
                margin: 0 0 8px 0
                text-align: left
        
        @include notdesctop
            &:not(:first-child)
                margin: 16px 0 0 0

.main
    display: flex
    @include desctop
        flex: 1 0 $content-desctop-width
        max-width: $content-desctop-width
    @include notdesctop
        flex-direction: column
        padding: 0 10px
