.credits
    display: flex
    align-items: center

    &__icon
        width: 30px
        height: 30px
        @include notdesctop
            width: 20px
            height: 20px

        &-svg
            width: 100%
            height: 100%
            fill: var(--add-color)
    
    &__line
        font-weight: 700
        color: var(--add-color)
        white-space: nowrap
        @include notdesctop
            font-size: .7rem
