.header
    display: flex
    align-items: center
    justify-content: flex-end

    @include notdesctop
        flex-direction: column
        align-items: flex-end
        

    &__title
        font-weight: 700
        color: var(--add-color)
        @include notdesctop
            margin-right: auto

    &__inner
        flex: 1
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-end
        @include desctop
            flex: 1 0 $content-desctop-width
            max-width: $content-desctop-width
        @include notdesctop
            order: -1
        
    &__item
        @include desctop
            &:not(:last-child)
                margin: 0 24px 0 0
    
    &__info
        display: flex
        align-items: center
        margin: 0 0 0 24px
        padding: 5px 10px
        border: 1px dashed var(--sub-add-color)
        @include notdesctop
            display: none

        &-item
            &:not(:last-child)
                border-right: 1px dashed var(--sub-add-color)
                margin: 0 8px 0 0
                padding: 0 8px 0 0
