*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $body
    color: $font
    font: $font-family-open-sans

.container
    max-width: 1200px
    margin: 0 auto
    color: $main