*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background: $mainclr
	font: $font-family-cabin

.app
	background: $appbg

.container
	max-width: 1400px
	margin: 0 auto
	&__flex
		display: flex