*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $body
    color: $font
    font: $font-family-main

.container
    width: 100%
    max-width: 1240px
    padding: 0 20px
    margin: 0 auto

.alarm
    color: $details
    font-size: 1.5rem