.info
    @include notdesctop
        flex: 1 0
        padding: 0 0 0 20px

    &__item
        &:not(:last-child)
            margin-bottom: 10px

        &-row
            display: block

        &-title
            color: var(--add-color)
            font-size: .8rem
            margin-bottom: 4px

        &-result
            font-size: .9rem
