.info
    @include notdesctop
        flex: 1 0
        padding: 0 0 0 20px

    &__item
        &:not(:last-child)
            margin-bottom: 10px

        &-row
            display: block

        &-title
            font: $font-family-main
            font-weight: 700
            color: var(--label-color)
            font-size: .8rem
            margin-bottom: 4px
            text-transform: uppercase
