.refs
    @include notdesctop
        flex: 1 0
    @include mobile
        min-width: 100%

    &__item
        cursor: pointer
        &:hover
            .refs__link
                color: $color-details-basic
    
    &__link
        display: block
        padding: 3px 0

