.menu
    flex: 1
    display: flex
    justify-content: flex-end
    align-items: center
    &__list
        display: flex
        position: relative
    &__item
        cursor: pointer
        text-transform: uppercase
        font-size: 0.75em
        display: flex
        &_link
            color: $font
            padding: 10px 10px
            display: flex
            transition: color .2s ease-in-out
            &:hover
                color: $font-add
.nav
    position: fixed
    width: 100%
    height: 50px
    background: #012b2f
    bottom: 0
    left: 0
    padding: 0 20px
    display: flex
    align-items: center
    border-top: 1px solid #00e8ff
    &__list
        display: flex
        align-items: center
    &__item
        cursor: pointer
        text-transform: uppercase
        &:hover
            color: #99e9f1
        &:not(:last-child)
            margin-right: 20px
