.menu
    flex: 1
    display: flex
    justify-content: center
    &__list
        display: flex
    &__item
        cursor: pointer
        overflow: hidden
        a
            position: relative
            padding: 10px 20px
            display: block
            &:after,
            &:before
                content: ''
                height: 2px
                width: 100%
                background: $font-color
                position: absolute
                transition: all .3s
                bottom: 0
            &:after
                left: -100%
            &:before
                right: -100%
            &:hover
                &:after
                    left: 50%
                &:before
                    right: 50%
