.header
	height: 50px
	display: flex
	align-items: center
	padding: 0 10px
	&__line
		height: 2px
		background: $secondclr
		flex: 1

.logo
	position: relative
	cursor: pointer
	color: $secondclr
	font-size: 1.25em
	transition: .5s
	padding-right: 10px
	&:before,
	&:after
		opacity: 0
		position: absolute
	&:before
		content: ''
		top: 50%
		left: 0
		height: 25px
		width: 25px
		background: $rareclr
		border-radius: 50%
		transform: translateY(-50%)
	&:after
		content: 'show info'
		color: red
		top: 100%
		left: 100%
		font-size: 0.4em
		width: max-content
		transition: .5s
	&:hover
		padding-left: 30px
		&:before,
		&:after
			opacity: 1
		&:after
			left: 30px
	&.active
		.logo__info
			transition: .1s
			visibility: visible
			top: calc(100% + 10px)
	//информация обо мне в логотипе
	&__info
		visibility: hidden
		position: absolute
		height: 300px
		width: 300px
		border-radius: 10px
		background: $rareclr
		top: calc(-100% - 100px)
		left: 50px
		z-index: 10
		transition: .1s