.tabs
    padding: 20px 40px
    margin-top: #{$header-height + $mini-search-height}
    &__list
        display: flex
        justify-content: center
    &__item
        margin: 0 20px 0 0
        padding: 0 2px 5px
        &--selected
            border-bottom: 2px solid #000
    &__panel
        margin-top: 10px