<!DOCTYPE html>
<html lang="en">
<head>
</head>
<title>sowa</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#17181a"/>
<meta name="Description" content="Author: Alex Sowa, This site for my app">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

<!--<style>критический css</style>-->

<link rel="stylesheet" href='/critical.css'>
<link rel="stylesheet" href='/main.css'>

<body>
	<div class="layout"></div>
	<header class="header">
		<div class="header__top">
			<div class="logo"><a href="/">SOWA</a></div>
			<div class="header__line"></div>
			<ul class="menu">
				<li class="menu__item"><a href="/">main</a></li>
				<li class="menu__item btn__info">info</li>
			</ul>
		</div>
		<div id="info" class="info">
			<div class="info__avatar"></div>
			<div class="info__txt">
				<h2 class="info__title">Hello, my name is <span>Alex</span></h2>
				<div class="info__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores perferendis libero voluptatibus dignissimos eligendi, perspiciatis odit placeat illo eaque numquam neque inventore, sunt tenetur quis laborum minima hic id iure animi doloribus? Distinctio, incidunt, quidem voluptas eveniet ab laboriosam soluta doloremque laborum iusto accusamus suscipit dicta natus recusandae magnam veniam, eum deleniti ad. Non excepturi temporibus laboriosam eius! Eaque, ab quos. Voluptatem consequatur vero aliquid laborum alias labore, ad eos libero quibusdam quos dolor veniam soluta dignissimos ratione fugiat. Delectus sunt maxime veritatis labore doloribus. Ut esse commodi enim reprehenderit magnam saepe doloremque vel in, nemo totam aliquam labore voluptates?</div>
			</div>
			<div class="info__bottom">
				<button class="btn info__btn">contacts</button>
			</div>
		</div>
	</header>
	<main id="root" class="main"></main>
	<div class="hide">
		<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute">
			<symbol id="report__btn_arrow" viewBox="0 0 7 17">
				<path d="M1 1L5.043 8.41667L1 15.8333"></path>
			</symbol>
		</svg>
	</div>
	<script type="text/javascript" src='/main.js'></script>
</body>
</html>