.tree
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: transparentize($color-body, .2)
    z-index: 1000
    padding: 50px 20px

    &__close
        width: 32px
        height: 32px
        cursor: pointer
        margin-left: 8px
        fill: $color-font
        transition: all .2s ease-in-out
        &:hover
            fill: $color-details-basic

    &__inner
        max-width: 1400px
        margin: 0 auto
        position: relative
        display: flex

    &__content
        flex: 1 0
        background: $color-main-basic
        padding: 16px
        font-size: .7rem
        font-weight: 400
        text-transform: uppercase
        >:not(:last-child)
            margin-bottom: 4px