<div class="fp">
	<div class="fp__sidebar">
		<h2 class="fp__welcome">Welcome back to your Dashboard Name</h2>
		<div class="fp__reports">
            <h3 class="fp__reports_title">Заголовок интересного факта</h3>
            <div class="fp__reports_txt">
                <p>описание интересного факта Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores repudiandae blanditiis placeat voluptas. Voluptatibus, ipsam pariatur vero cum provident iusto ullam dolorem dicta impedit, laboriosam deleniti assumenda numquam perferendis dolorum repudiandae autem, omnis minima praesentium velit! Quo, fuga similique sint nobis amet saepe laborum odio voluptate corrupti neque consequuntur!</p>
            </div>
            <div class="fp__report_btn">
                <a href="#">читать далее</a>
            </div>
        </div>
	</div>
	<div id="last" class="fp__content"></div>
</div>