.details
    background: var(--add-color)
    border: 2px solid var(--add-color)

    &__inner
        padding: 5px
    
    &__header
        display: flex
        margin-bottom: 16px
    
    &__difficulty
        width: 24px
        height: 24px
        display: flex
        align-items: center
        justify-content: center
        margin-right: 5px
        font-size: .9rem

    &__title
        flex: 1
        padding: 0 5px
        font-size: 1rem
        display: flex
        align-items: center
        justify-content: space-between
        text-transform: uppercase