.avatar
    position: relative
    padding: 50px 0

    &__photo
        height: 250px
        width: 250px
        border-radius: 50%
        margin: 0 auto
        background: url("../img/1.jpg") no-repeat center center / cover

    &__inner
        position: absolute
        top: 0
        left: 0