.info

    &__item
        padding: 0 5px
        &:not(:last-child)
            margin-bottom: 10px

        &-row
            display: block

        &-title
            color: $color-details-basic
            font-size: .85rem
            margin-bottom: 4px

