.refs
    padding: 32px 0 0 0

    &__item
        &:not(:last-child)
            margin-bottom: 8px
    
    &__link
        color: $color-font
        &:hover
            color: $color-details-basic