.skills
    position: relative
    min-width: 500px
    max-width: 500px
    .module__content
        display: flex
        flex-direction: column

    &__list
        display: flex

    &__item
        flex: 1
        padding: 5px
            
    &__box
        background: #000000
        padding: 10px 0
        display: flex
        justify-content: center
        align-items: center
        text-transform: uppercase
        cursor: pointer
        font-size: .7rem
    
    &__inner
        flex: 1
    
    &__header
        flex: 1 0
        display: flex
        max-height: 67px
        min-height: 67px
        overflow: hidden

        &_name
            width: 100px
            display: flex
            align-items: center
            justify-content: center
            @include dotted(transparentize($color-details-basic, .7))

        &_perks
            padding: 5px 10px
